<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scu.szmt.mapper.ConferenceMapper">
    <select id="findConfeByUserId" resultType="Conference">
        SELECT * FROM (SELECT c_id AS id FROM user_con WHERE u_id=#{id}) AS a NATURAL JOIN confence where timeSlot=1 or (start &gt;= #{start} and start  &lt;= #{end})
    </select>
    <insert id="addConference" parameterType="Conference" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO confence(title,START,END,allDay,place,content,cre_id,timeSlot) VALUES(#{title},#{start},#{end},#{allDay},#{place},#{content},#{creId},#{timeSlot})
    </insert>
    <insert id="addPersons" parameterType="int">
        insert into persons_con(con_id,user_id) values(#{param1},#{param2})
    </insert>

    <insert id="addUserCon" parameterType="int">
        replace into user_con(u_id,c_id) values(#{param1},#{param2})
    </insert>
    <insert id="addFileCon" parameterType="int">
        replace into file_con(f_id,c_id) values(#{param1},#{param2})
    </insert>
    <delete id="deletConfernceById" parameterType="int">
        delete from confence where id = #{id}
    </delete>
    <update id="updateConferenceById" parameterType="Conference">
        update confence set title=#{title},start=#{start},end=#{end},allDay=#{allDay},place=#{place},content=#{content} where id=#{id}
    </update>
    <delete id="deletPersonsConByCid" parameterType="int">
        delete from persons_con where con_id = #{Cid}
    </delete>
    <select id="searchCon" resultType="Conference">
        <if test="person!=null">
            with u as (SELECT id FROM USER WHERE NAME LIKE '%${person}%')
        </if>
        SELECT * FROM (SELECT c_id AS id FROM user_con WHERE u_id=#{id}) AS a NATURAL JOIN confence
        where

        <if test="content!= null">
            (title like '%${content}%' or content like '%${content}%')
        </if>

        <if test="person!=null">
            and (cre_id in (SELECT * FROM u) or id in (select c_id from u INNER JOIN user_con ON u.id=user_con.u_id ))
        </if>
        <if test="start!=''">
            and start &gt;= #{start}
        </if>
        <if test="end!=''">
            and start  &lt;= #{end}
        </if>
        <if test="place!=null">
            and place like '%${place}%'
        </if>
    </select>
</mapper>